
<table>
    <tr>
        <th>
            <label for="">User email</label>
        </th>
        <th>
            <input type="text" #use value="Enter Email"/>
        </th>
    </tr>
    <tr>
        <th>
            <label for="">User Password</label>
        </th>
        <th>
            <input type="password" #pass value="Enter Password"/>
        </th>
    </tr>
    <tr>
        <th>
            <input type="button" value="login" (click)="login(use.value,pass.value)">
        </th>
    </tr>
</table>
