<div>
    <h2>Login Page</h2>
    <form #loginR="ngForm">
    <table>
        <tr>
            <th>
                <label>User email</label>
            </th>
            <th>
                <input type="text" name="userEmail" value="Enter Email" ngModel/>
            </th>
        </tr>
        <tr>
            <th>
                <label>User Password</label>
            </th>
            <th>
                <input type="password"  name="userPass" value="Enter Password" ngModel/>
            </th>
        </tr>
        <tr>
            <th>
                <input type="button" value="login" (click)="login(loginR)">
            </th>
        </tr>
    </table>
    </form>
</div>

