/* Style the top navigation bar*/
.navbar {
    display: flex;
    background-color: rgb(76, 77, 71);
  }
/* Style the navigation bar links*/
.navbar a{
    color: white;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    font-size: large;
 
}
/* Change color on hover*/
.navbar a:hover{
    background-color: black;
    flex-wrap: wrap;
    color:#1abc9c;
}